# Dependencies
node_modules/

# Env
.env
.env.*

# Build
dist/
build/
coverage/

# Logs
*.log

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

.vscode/
.cache/
.config/
.local/
node_modules/
